html{
  overflow-y: hidden;
}
body{
  margin: 0px;
}

.main{
  margin:  0px;
  display: flex;
  min-height: 700px;
  position: relative;
}

.left{
  width: 245px;
  box-sizing: border-box;
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
}

.right{
  width: 100%;
  box-sizing: border-box;
  padding-left: 245px;
}

ul{
  list-style: none;
  padding: 0px;
}

li:hover{
  background-color: lightgray;
  cursor: pointer;
}

iframe{
  width: 100%;
  border: none;
  overflow: hidden;
  height: 50vh;
}

.demo {

}

pre{
  background-color: black;
    color: white;
    height: 50vh;
    overflow: auto;
    letter-spacing: -1px;
    word-wrap: break-word;
    font-family: "Source Code Pro", sans-serif;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}